<html>
    <head>
    </head>

    <body>

        <div class="header">
            Utilisation de la Base de données classicmodels
        </div>

        <div class="container">
            {{{body}}}
        </div>

        <script src="index.js"></script>
    </body>
</html>