<html>
    <head>
    </head>

    <body>

        <div class="header">
            Utilisation de la Base de données classicmodels
        </div>

        <div class="container">
            {{{body}}}
        </div>

       
        <script src="jquery.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="index.js"></script>
    </body>
</html>